@model IEnumerable<PropiedadDTO>

@if (Model is not null)
{
    <div class="text-center" style="padding-top: 1rem;">
        <h1 style="font-size: 55px;">Propiedades disponibles</h1>
    </div>

   <partial name="_ListadoPropiedades" model="Model" />

}