@using System.Collections;
@model IEnumerable<PropiedadDTO>


@{
    ViewData["Title"] = "Proyectos";
}

<div class="col text-center" style="background-color: light;">
    <h1 style="font-size: 55px;">Galeria de Propiedades</h1>
</div>





<partial name="_ListadoPropiedades" model="Model" />